.NavBar {
  position: absolute;
  /* width: 100vw; */
  top: 0;
  left: 0;
  right: 0;
  padding: 15px;
  background-color: darkgray;
  color: white;
}

nav a {
  color: white;
  text-decoration: none;
}

nav a.active {
  color: black;
  font-weight: bold;
  border-bottom: 3px solid;
}

nav a.active.navbar-brand {
  border-bottom: none;
}

#logout.active {
  color: white;
  border: none;
  font-weight: 400;
}
#logout.active:hover {
  color: #0d6efd;
}